zadanie_05/faktura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="faktura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tlo" type="xs:string"/>
        <xs:element name="wiersz" maxOccurs="10">
          <xs:complexType>
            <xs:sequence>
              <xs:attribute name="ID" type="xs:string" use="optional"/>
              <xs:element name="Lp" type="xs:integer"/>
              <xs:element name="nazwa" type="xs:string"/>
              <xs:element name="miara" type="xs:string"/>
              <xs:element name="cena">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="9999"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
